// {
//     "parserOptions": {
//         "ecmaVersion": 2017
//     },

//     "env": {
//         "es6": true
//     }
// }

// module.exports = {
//     "parserOptions": {
//         "ecmaVersion": 6
//     }
// };